{
  "presets": [["env", {"modules": false, "exclude": ["transform-regenerator", "transform-async-to-generator"]}], "react"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "test": {
        "presets": ["env", "react"],
    }
  }
}
